<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>JUICOYUID</key>
		<string>89890830</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string>89890830AUA</string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890831</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890832</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890833</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890834</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890835</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890836</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890837</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890838</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890839</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890840</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890841</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890842</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890843</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890844</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890846</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890847</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890848</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890849</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890850</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
	<dict>
		<key>JUICOYUID</key>
		<string>89890851</string>
		<key>JUICOYUName</key>
		<string></string>
		<key>JUICOYUphoto</key>
		<string></string>
		<key>JUICOYUsignture</key>
		<string></string>
		<key>JUICOYUpicsWall</key>
		<string></string>
		<key>JUICOYUViadioPic</key>
		<string></string>
		<key>JUICOYUViadioPath</key>
		<string></string>
		<key>JUICOYUViadioDescrib</key>
		<string></string>
		<key>JUICOYUViadioComment</key>
		<string></string>
		<key>JUICOYUVFriendsPics</key>
		<string></string>
		<key>JUICOYUVInterests</key>
		<string></string>
		<key>JUICOYUVINfoBirth</key>
		<string></string>
		<key>JUICOYUVINfoWeight</key>
		<string></string>
		<key>JUICOYUVINfoHeight</key>
		<string></string>
		<key>JUICOYUVINfofollowintcount</key>
		<string></string>
		<key>JUICOYUVINfofollowerscount</key>
		<string></string>
		<key>JUICOYUVINfofolloweisvip</key>
		<string></string>
	</dict>
</array>
</plist>
